<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uu.wallet.mapper.DividendConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.uu.wallet.entity.DividendConfig">
        <id column="id" property="id" />
        <result column="critical_point" property="criticalPoint" />
        <result column="reward_ratio" property="rewardRatio" />
        <result column="dividends_level" property="dividendsLevel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, critical_point, reward_ratio, dividends_level, create_time, update_time
    </sql>

</mapper>
