<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uu.wallet.mapper.MatchingOrderMapper">

    <update id="updateOrderStatusByOrderNo">
        update matching_order set status = #{status}
        <if test="appealType == 1">
            where payment_platform_order = #{orderNo}
        </if>
        <if test="appealType == 2">
            where collection_platform_order = #{orderNo}
        </if>
    </update>

    <select id="selectMatchingOrderByWithdrawOrder" resultType="org.uu.wallet.entity.MatchingOrder">
        SELECT * FROM matching_order where payment_platform_order = #{withdrawOrder}
    </select>

    <select id="fethchAmountErrorNum" resultType="java.lang.Long">
        select IFNULL(count(1),0) from matching_order where  status = 11
    </select>

    <select id="matchSuccessNum" resultType="java.lang.Long">
        select IFNULL(count(1),0) from matching_order where  payment_platform_order is not null and collection_platform_order is not null
    </select>
</mapper>